streamlit
streamlit-sortables
pymupdf
pillow
pdf2image
pypdf2
reportlab
google-generativeai
faiss-cpu
langchain-community
termcolor
pyfiglet
pycryptodome
streamlit-option-menu
langchain
langchain-community
langchain-google-genai
langchain-groq
streamlit_pdf_viewer
pyheif
pillow-heif
httpx==0.27.2
