streamlit
streamlit-sortables
pymupdf
pillow
pdf2image
pypdf2
reportlab
google-generativeai
faiss-cpu
langchain-google-genai
langchain-community
termcolor
pyfiglet
pycryptodome
streamlit-option-menu
langchain
